# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User Project Filters
*.vcxproj.user

#misc
*.pdb
*.idb
*.log
*.ilk
/.vs/UtilToolbox/v16
*.json
*.sqlite
/Utils/Utils/.vs/Utils/v16
/Utils/Utils/x64/Debug/Utils.tlog
/Utils/Utils/x64/Debug
/Utils/StateMachine/x64/Debug
/Utils/Persistor/x64/Debug
/Utils/DirectoryManager/Debug
/Utils/DirectoryManager/Release
/Utils/Persistor/x64/Release
/Utils/StateMachine/x64/Release
/Utils/Utils/x64/Release
/Utils/DirectoryManager/x64
/Utils/Logger/x64/Debug
/Utils/Utils/Logger_Test/Logs
